extends layout

block content
  h1 Tic Tac Toe
  a(href='/') Play vs Another Player
  .mainzero
    .main
      .main-overlay
        .row  
          #box1.box
            .boxTxt
          #box2.box
            .boxTxt
          #box3.box
            .boxTxt
        .row  
          #box4.box
            .boxTxt
          #box5.box
            .boxTxt
          #box6.box
            .boxTxt
        .row  
          #box7.box
            .boxTxt
          #box8.box
            .boxTxt
          #box9.box
            .boxTxt
block javascript
  script(src="/javascripts/ai.js" type="text/javascript")
  
