extends layout

block content
  h1 Tic Tac Toe (Player Vs Computer)
  a(href='/') Play vs Another Player
  include _gameboard
block javascript
  script(src="/javascripts/dom.js" type="text/javascript")
  script(src="/javascripts/ai.js" type="text/javascript")
  
