extends layout

block content
  h1 Tic Tac Toe (Player vs Player)
  a(href='/computer') Play vs the Computer
  include _gameboard
block javascript
  script(src="/javascripts/clientside.js" type="text/javascript")
  
